@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #121212;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    color: #fff;
    font-family: 'centra',sans-serif;

  }  

